<?xml version="1.0"?>
<!--
/**
 * @category    ArchApps
 * @package     ArchApps_ContactDepartments
 * @copyright   Copyright 2016 ArchApps (https://archapps.io)
 * @license     https://opensource.org/licenses/osl-3.0.php OSL 3.0
 */
-->
<config>
    <modules>
        <ArchApps_ContactDepartments>
            <version>0.1.1</version>
        </ArchApps_ContactDepartments>
    </modules>

    <global>
        <blocks>
            <archapps_contactdepartments>
                <class>ArchApps_ContactDepartments_Block</class>
            </archapps_contactdepartments>
        </blocks>

        <helpers>
            <archapps_contactdepartments>
                <class>ArchApps_ContactDepartments_Helper</class>
            </archapps_contactdepartments>
        </helpers>

        <models>
            <archapps_contactdepartments>
                <class>ArchApps_ContactDepartments_Model</class>
            </archapps_contactdepartments>
        </models>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <archapps_contactdepartments>
                    <files>
                        <default>ArchApps_ContactDepartments.csv</default>
                    </files>
                </archapps_contactdepartments>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <archapps_contactdepartments>
                    <file>archapps/contactdepartments.xml</file>
                </archapps_contactdepartments>
            </updates>
        </layout>

        <translate>
            <modules>
                <archapps_contactdepartments>
                    <files>
                        <default>ArchApps_ContactDepartments.csv</default>
                    </files>
                </archapps_contactdepartments>
            </modules>
        </translate>

        <events>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <archapps_contactdepartments>
                        <type>singleton</type>
                        <method>setDepartmentRecipient</method>
                        <class>archapps_contactdepartments/observer</class>
                    </archapps_contactdepartments>
                </observers>
            </controller_action_predispatch_contacts_index_post>
        </events>
    </frontend>

    <default>
        <contacts>
            <departments>
                <field_label>Department</field_label>
                <show_placeholder_option>1</show_placeholder_option>
                <placeholder_option_text>-- Select Department -- </placeholder_option_text>
            </departments>
        </contacts>
    </default>
</config>